.navbar {
background-color: rgb(255, 255, 255);
}

.footer {
    background-color: darkred;
}

.footerp {
    font-size: large;
}

.display-3{
    color:darkred;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bckgrnd1{
    background-color:whitesmoke
}

marquee{
    height:px;
}

.btn-primary{
    background-color:aliceblue
    
}