 .navbar {
background-color: rgb(255, 255, 255);
}
.marquee{
    background-color: darkred;
    font-size: 16px;
    padding:10px;
    color: white;
}
.footer {
    background-color: darkred;
}

.footerp {
    font-size: large;
}

.display-3{
    color:darkred;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bckgrnd1{
    background-color:whitesmoke
}

marquee{
    height:px;
}

.btn-primary{
    background-color:rgb(185, 49, 0)
    
}

.caladd{
    font-size: 40px;
}


.container-f{
    padding: 0px 0px 20px;
    height:160px;
    background-color:rgba(197, 209, 212, 0.836);
}

.container-fl{
    padding: 0px 0px 20px;
    height:160px;
    
}

.container-flu{
    padding: 0px 0px 20px;
    height:160px;
    background-color:rgba(245, 245, 245, 0.815);
}